<div>
    <app-header></app-header>
    <header>
        <h1>NTOU Web Programming TA System</h1>
        <h3>海大網程助教系統</h3>
    </header>
    <main>
        <mat-card>
            <p><b>海大網程助教系統</b>是某個助教覺得Google表單不是一個很好的解決方案，所以決定自幹一個系統的產物。</p>
            <p><s>神說要有光，於是有了光。</s>感謝谷歌爸爸GCP的鼎力相助，本系統才能開發的如此順利。</p>
        </mat-card>

        <mat-card>
            <mat-list><b>技術使用：</b></mat-list>
            <mat-divider></mat-divider>
            <mat-list><a target="_blank" href="http://angular.io/">Angular</a></mat-list>
            <mat-list><a target="_blank" href="http://material.angular.io/">Angular Material</a></mat-list>
            <mat-list><a target="_blank" href="https://github.com/angular/angularfire">Angularfire</a></mat-list>
            <mat-list><a target="_blank" href="https://firebase.google.com/">Firebase</a></mat-list>
        </mat-card>
        
        <mat-card>
            <mat-list><b>連結：</b></mat-list>
            <mat-divider></mat-divider>
            <mat-list><a target="_blank" href="https://github.com/stanley2058/NWPTS">NWPTS Github</a></mat-list>
        </mat-card>
    </main>

    <footer>
        <img src="assets/angular.svg" alt="angular icon">
        <img src="assets/firebase.png" alt="firebase icon">
    </footer>
</div>