<div>
    <app-header></app-header>
    <header>
        <h1>NTOU Web Programming TA System</h1>
        <h3>海大網程助教系統</h3>
    </header>
    
    <main>
        <h2>登入</h2>
        <form (submit)="login($event)">
            <mat-form-field>
                <mat-label>帳號</mat-label>
                <input matInput type="email" name="email">
            </mat-form-field>

            <mat-form-field>
                <mat-label>密碼</mat-label>
                <input matInput type="password" name="password">
            </mat-form-field>

            <button mat-raised-button color="primary" type="submit">送出</button>
        </form>
    </main>
</div>