.seatBase
    display: flex
    justify-content: center
    place-items: center

    mat-icon
        font-size: 5em

    .seat
        display: flex
        justify-content: flex-start
        place-items: flex-start
        border-radius: 50%
        width: 5em
        height: 5em
        text-align: center
        color: wheat

    .seat:hover, mat-icon:hover
        cursor: pointer

    .selected
        color: firebrick


@media screen and ( max-width: 600px )
    .seat
        width: 3em
        height: 3em
    mat-icon
        font-size: 3em