.seatBase
    display: flex
    justify-content: center
    place-items: center
    width: 5em
    height: 5em

    mat-icon
        font-size: 5em

    .seat
        display: flex
        justify-content: flex-start
        place-items: flex-start
        border-radius: 50%
        text-align: center
        color: wheat
        width: 5em
        height: 5em

    .seat:hover, mat-icon:hover
        cursor: pointer

    .selected
        color: firebrick


@media screen and ( max-width: 650px )
    .seatBase
        width: 3em
        height: 3em

        mat-icon
            font-size: 3em
        .seat
            width: 3em
            height: 3em