<div class="display">
    <div class="topBorder"   ><app-entity-entries *ngFor="let object of getSceneRenderList(classroom.Layout.scenes.top)"    [entry]="object"></app-entity-entries></div>
    <div class="rightBorder" ><app-entity-entries *ngFor="let object of getSceneRenderList(classroom.Layout.scenes.right)"  [entry]="object" [isVertical]="true"></app-entity-entries></div>
    <div class="bottomBorder"><app-entity-entries *ngFor="let object of getSceneRenderList(classroom.Layout.scenes.bottom)" [entry]="object"></app-entity-entries></div>
    <div class="leftBorder"  ><app-entity-entries *ngFor="let object of getSceneRenderList(classroom.Layout.scenes.left)"   [entry]="object" [isVertical]="true"></app-entity-entries></div>
    <div class="main">
        <div class="main-row" *ngFor="let row of getSeatRenderList(classroom.Layout.seats)">
            <app-entity-entries *ngFor="let cell of row" [entry]="cell.name" [id]="cell.id" [isInTable]="true" (cellSelected)="cellSelectionChanged($event)"></app-entity-entries>
        </div>
    </div>
</div>