<div [ngSwitch]="entry">
    <app-teacher    *ngSwitchCase="'teacher'"    [isVertical]="isVertical"></app-teacher>
    <app-door       *ngSwitchCase="'door'"       [isVertical]="isVertical"></app-door>
    <app-window     *ngSwitchCase="'window'"     [isVertical]="isVertical"></app-window>
    <app-blackboard *ngSwitchCase="'blackboard'" [isVertical]="isVertical"></app-blackboard>
    <app-whiteboard *ngSwitchCase="'whiteboard'" [isVertical]="isVertical"></app-whiteboard>
    <app-seat       *ngSwitchCase="'seat'"       [isVertical]="isVertical" [id]="id" (cellSelected)="cellSelectionChanged($event)"></app-seat>
    <app-spacer     *ngSwitchDefault             [isVertical]="isVertical" [isInTable]="isInTable"></app-spacer>
</div>